*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Overpass-Light;
    src: url(../fonts/Overpass/Overpass-Light.ttf);
}
@font-face {
    font-family: Overpass-SemiBold;
    src: url(../fonts/Overpass/Overpass-SemiBold.ttf);
}
@font-face {
    font-family: Ubuntu-Bold;
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Ubuntu-Regular;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}
body{
    font-size: 1rem;
    overflow-x: hidden;
header{
    width: 100vw;
    margin-bottom: 6.7rem;
    background-image: linear-gradient(140deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 7rem;  
.header-overlay{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 7rem; 
    background: url(../images/bg-pattern-intro.svg);
    background-size: 75rem;
    background-repeat: no-repeat;
    background-position: -20rem -13rem;
}    
.navbar{
    padding: 3rem 1.3rem;
    display: flex;
    align-items: center;
    z-index: 2;
    .logo{
        margin-right: 3rem;
    }
    .navbar-buttons:last-of-type{
        margin-left: auto;
    }
.dropdown-menus{   
    display: none;
}
.navbar-left-button{
    display: none;
    margin-right: 1.5rem;
    font-family: Ubuntu-Medium;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    opacity: 0.8;
}
.navbar-right-button{
    display: none;
    margin-left: 1.5rem;
    font-family: Ubuntu-Medium;
    font-weight: 500;
    font-size: 1.15rem;
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
}
.navbar-right-button:hover{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(355, 100%, 74%);
    border: 0.1rem solid hsl(355, 100%, 74%);
    transition: 0.4s ease-in-out all;
}
#close-icon{
    display: none;
}
}
.showcase-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

h1{
    margin-top: 3.4rem;
    padding: 0rem 2.25rem;
    font-size: 2.05rem;
    font-family: Overpass-Light;
    color: hsl(0, 0%, 100%);
}
p{
    padding: 0rem 2.7rem;
    margin-top: 1.3rem;
    font-size: 1.1rem;
    font-family: Overpass-Light;
    color: hsl(0, 0%, 100%);
    opacity: 0.7;
}
.showcase-content-buttons{
    margin-top: 2.9rem;
    margin-bottom: 9.5rem;
    display: flex;
.showcase-content-left-button{
    margin-right: 0.5rem;
    font-size: 1rem;
    font-family: Ubuntu-Medium;
    font-weight: 500;
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    transition: 0.4s ease-in-out all;
}
.showcase-content-left-button:hover{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(355, 100%, 74%);
    border: 0.1rem solid hsl(355, 100%, 74%);
}
.showcase-content-right-button{
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: Ubuntu-Medium;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    transition: 0.4s ease-in-out all;
}
.showcase-content-right-button:hover{
    cursor: pointer;
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
}
}
}
.mobile-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 50rem;
    position: absolute;
    top: 8rem;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.4rem;
    background-color: hsl(0, 0%, 100%);
    .mobile-dropdown-menu{
        width: 85%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-dropdown-title{
    position: relative;
    color: hsl(208, 49%, 24%);
    font-family: Overpass-SemiBold;
    font-weight: 300;
    font-size: 1rem;
    .mobile-arrow{
        width: 1rem;
        height: 1rem;
        margin-left: 0.4rem;
        position: absolute;
        top: 0.4rem;
        background: url(../images//icon-arrow-dark.svg);
        background-repeat: no-repeat; 
        transition: 0.3s ease-in-out all;
    }
}
.mobile-dropdown-list{
    width: 100%;
    max-height: 0rem;
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem;
    overflow: hidden;
    transition: 0.5s ease-in-out max-height;
    .gray-overlay{
        width: 100%;
        height: 100%;
        background-color: hsl(240, 2%, 79%);
        opacity: 0.4;
    }
    .mobile-dropdown-list-item{
    color: hsl(208, 49%, 24%);
    font-family: Overpass-SemiBold;
    font-weight: 300;
    font-size: 0.96rem;
    transition: 0.5s ease-in-out color;
    padding: 0.6rem 0;   
    list-style: none;
    opacity: 1;
    }  
    .top-item{
    padding-top: 1.5rem;
    }
    .bottom-item{
    padding-bottom: 1.5rem;
    }
}
}
}
}
button{
    width: 8.3rem;
    height: 2.9rem;
    border: 0.1rem solid hsl(0, 0%, 100%);
    border-radius: 1.9rem;
}
section{
    margin-bottom: 3.7rem;
    display: flex;
    flex-direction: column;
    .section-content{
        display: flex;
        flex-direction: column;
        .desktop-illustration{
            display: none;
        }
    }
}
.white-background {
    background-color: hsl(0, 0%, 100%);
    h2{
        margin-bottom: 2.7rem;
        text-align: center;
        font-family: Overpass-SemiBold;
        font-weight: 300;
        font-size: 1.7rem;
        color: hsl(208, 49%, 24%);
    }
    h3{
        margin-top: 2.7rem;
        margin-bottom: 1.2rem;
        padding: 0 4.5rem;
        text-align: center;
        font-family: Overpass-SemiBold;
        font-weight: 300;
        font-size: 1.6rem;
        color: hsl(208, 49%, 24%);
    }
    p{
        padding: 0 2.9rem;
        text-align: center;
        font-family: Overpass-Light;
        font-weight: 300;
        font-size: 0.95rem;
        color: hsl(207, 13%, 34%);
        line-height: 1.7rem;
    }
    .first-illustration{
        order: -4;
        width: 100%;
        height: 20.7rem;
        margin-bottom: 0.45rem;
        background: url(../images/illustration-editor-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .third-illustration{
        width: 100%;
        height: 20.5rem;
        margin-bottom: 2.5rem;
        background: url(../images/illustration-laptop-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.blue-background{
    position: relative;
    margin-top: 16.3rem;
    background-image:linear-gradient(hsl(237, 17%, 21%),hsl(237, 23%, 32%));
    border-top-right-radius: 5.5rem;
    border-bottom-left-radius: 5.5rem;
    .section-content{  
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 37rem;
    background-position: -6.7rem -14.5rem;
    border-top-right-radius: 5.5rem;
    border-bottom-left-radius: 5.5rem;
    h2{
        margin-top: 13.7rem;
        text-align: center;
        font-family: Overpass-SemiBold;
        font-weight: 300;
        font-size: 2.5rem;
        color: hsl(0, 0%, 100%);
        z-index: 3;
    }
    p{
        margin-top: 1.3rem;
        margin-bottom: 7.1rem;
        padding: 0 2.9rem;
        text-align: center;
        font-family: Overpass-Light;
        font-weight: 300;
        font-size: 0.95rem;
        color: hsl(0, 0%, 100%);
        opacity: 0.8;
        line-height: 1.7rem;
        z-index: 3;
    }
    .phones-illustration{
        width: 100%;
        position: absolute;
        top: -11.5rem;
        z-index: 2;
    }
}
}
// Footer styling 
footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 5.5rem;
    .footer-upper-part{
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-footer{
        margin-top: 4rem;
        margin-bottom: 1.6rem;
    }
    .footer-column{
        width: 100%;
        margin-top: 2.9rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        h4{
            margin-bottom: 1.2rem;
            font-family: Ubuntu-Medium;
            font-weight: 500;
            font-size: 1.05rem;
            color: hsl(0, 0%, 100%);
        }
        a{
            margin-top: 0.83rem;
            font-family: Ubuntu-Regular;
            font-weight: 400;
            font-size: 1.03rem;
            color: hsl(240, 2%, 79%);
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    }
    .footer-lower-part{
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Ubuntu-Regular;
        font-weight: 400;
        font-size: 1rem;
        color: hsl(240, 2%, 79%);
        a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}