@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 50vh;
    position: relative;
    background: url(../images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 5.5rem;

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
        border-bottom-left-radius: 5.5rem;
        z-index: -1;
    }

    &-nav {
        display: flex;
        align-items: center;
    }

    &__dropdown {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__dropdown-title {
        position: relative;
        color: hsla(0, 0%, 100%, 0.7);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
    }

    &__dropdown-title:hover {
        font-weight: 700;
        text-decoration: underline;
    }

    &__dropdown-list {
        width: 10.5rem;
        height: fit-content;
        padding: 1.7rem 1.5rem;
        position: absolute;
        bottom: 0;
        background: hsl(0, 0%, 100%);
        border-radius: 0.3rem;
        list-style: none;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 0.25s ease-in-out;
    }

    &__dropdown-title:hover + &__dropdown-list {
        transform: scale(1,1);
    }

    &__dropdown-list-item--mb {
       margin-bottom: 0.7rem;
    }

    &__dropdown-list-link {
        color: hsl(207, 13%, 34%);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

    &__dropdown-list-link:hover {
        color: hsl(208, 49%, 24%);
        font-weight: 700;
    }

    &__showcase {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__showcase-title {
        margin-top: 5rem;
        color: hsl(0, 0%, 100%);
        font-size: 3.5rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }

    &__showcase-description {
        margin-top: 1rem;
        color: hsl(0, 0%, 100%);
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }

    &__call-to-action {
        margin-top: 5rem;
    }
}

.hamburger-menu {
    width: 2.1rem;
    height: 2.1rem;
    display: none;
    border: 0;

    &--open {
        background: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &--close {
        background: url(../images/icon-close.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.link {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

.btn {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 2rem;
    text-decoration: none;

    &--red {
        color: hsl(0, 0%, 100%);
        background: linear-gradient(90deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    }
}

.section {
    padding: 9.5rem 9.5rem 15rem 9.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &--bg-color {
        background: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
        border-top-right-radius: 5.5rem;
        border-bottom-left-radius: 5.5rem;
    }

    &--overflow-y {
        overflow: unset;
        padding: 8.8rem 9.5rem 8.8rem 9.5rem;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: left -13.5rem bottom -7rem;
        border-top-right-radius: 5.5rem;
        border-bottom-left-radius: 5.5rem;
    }

    &__editor-illustration {
        width: 57.8rem;
        height: 55.1rem;
        margin-right: -17rem;
        position: absolute;
        top: 0rem;
        right: 0;
        background: url(../images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
    }

    &__mobile-illustration {
        width: 34.5rem;
        height: 36.2rem;
        margin-top: -4.3rem;
        position: absolute;
        top: 0;
        left: 7.7rem;
        background: url(../images/illustration-phones.svg);
        background-repeat: no-repeat;
    }

    &__laptop-illustration {
        width: 57.8rem;
        height: 55.1rem;
        margin-left: -17.5rem;
        position: absolute;
        top: 0rem;
        left: 0rem;
        background: url(../images/illustration-laptop-desktop.svg);
        background-repeat: no-repeat;
    }

    &__title {
        color: hsla(208, 49%, 24%, 0.85);
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }

    &__subtitle {
        margin-right: 35rem;
        color: hsla(208, 49%, 24%, 0.85);
        font-size: 1.7rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
    }

    &__subtitle--mt {
        margin-top: 5.5rem;
    }

    &__description {
        margin-right: 39.5rem;
        margin-top: 1.7rem;
        color: hsla(207, 13%, 34%, 0.85);
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        line-height: 1.75rem;
    }

    &__description--mb {
        margin-bottom: 4.3rem;
    }
}

// Footer styling
.footer {
    padding: 4.1rem 9.5rem 1rem 9.5rem;
    background: hsl(240, 10%, 16%);
    border-top-right-radius: 5.5rem;
    // Footer navigation bar styling
    &-nav {
        padding-bottom: 3rem;
        display: grid;
        grid-template: 'col-1 col-2 col-2 col-3 col-3 col-4 col-4';
    }

    &-nav__col--col-1 {
        grid-area: col-1;
    }

    &-nav__col--col-2 {
        grid-area: col-2;
    }

    &-nav__col--col-3 {
        grid-area: col-3;
    }

    &-nav__col--col-4 {
        grid-area: col-4;
    }

    &-logo__image {
        width: 6.3rem;
    }

    &-nav__col-title {
        margin-top: 0.5rem;
        color: hsla(0, 0%, 100%,0.85);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
    }

    &-nav__col-list {
        margin-top: 1.9rem;
        list-style: none;  
    }

    &-nav__col-list-item {
        margin-bottom: 0.7rem;
    }

    &-nav__col-list-link {
        color: hsla(240, 2%, 79%, 0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

    &-nav__col-list-link:hover {
        text-decoration: underline;
    }
    // Footer attribution styling
    &__attribution {
        display: flex;
        justify-content: center;
    }

    &__attribution-text {
        color: hsla(0, 0%, 100%,0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }

    &__attribution-text--ml {
        margin-left: 0.3rem;
    }

    &__attribution-link {
        color: hsla(240, 2%, 79%, 0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

    &__attribution-link:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1000px) {
    .section {
        width: 100vw;
        padding: 4.1rem 7rem 1rem 7rem;
        align-items: center;

        &__editor-illustration {
            width: 23rem;
            height: 22rem;
            margin-right: 0rem;
            position: static;
            top: 0rem;
            right: 0rem;
            background: url(../images/illustration-editor-mobile.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

        &__subtitle {
            margin-right: 0rem;
            text-align: center;
        }

        &__description {
            margin-right: 0rem;
            text-align: center;
        }
    }
    // Footer styling
    .footer {
        padding: 4.1rem 7rem 1rem 7rem;

        &-nav {
            grid-template: 'col-1 col-1 col-1'
                           'col-2 col-3 col-4'; 
        }

        &-nav__col-title {
            margin-top: 0rem;
        }

        &-nav__col--mb-2 {
            margin-bottom: 5rem;
        }

    }
}

@media (max-width: 630px) {

    .hamburger-menu {
        display: block;
    }
    // Footer styling
    .footer {
        padding: 4.1rem 3rem 1rem 3rem;

        &-nav {
            grid-template: 'col-1'
                           'col-2' 
                           'col-3' 
                           'col-4'; 
        }

        &-nav__col--mb-1 {
            margin-bottom: 1.9rem;
        }

        &-logo__image {
            margin: auto;
            display: block;
        }

        &-nav__col-title {
            margin-top: 0rem;
            text-align: center;
        }

        &-nav__col-list-item {
            text-align: center;
        }

        &__attribution {
            flex-direction: column;
        }

        &__attribution-text--ml {
            margin-left: 0rem;
        }

    }
}