@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$breakpoint: (
  'medium': '24rem',
  'big': '46rem',
);

@mixin breakpoint($value) {
  @media (min-width: map-get($breakpoint, $value)){
      @content;
  }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 90vh;
  padding: 3rem 1.7rem;
  border-bottom-left-radius: 5rem;
  position: relative;
  background: url('../images/bg-pattern-intro.svg');
  background-size: 350%;
  background-position: left -20.5rem top -15rem;
  background-repeat: no-repeat;

  @include breakpoint(big) {
    padding: 3.9rem 11.5rem;
    background-size: 250%;
    background-position: left -30rem top -95rem;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    z-index: -1;
  }

  &__hero-heading {
    margin-top: 7rem;
    color: hsl(0, 0%, 100%);
    font-size: 2.16rem;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-align: center;
  }

  &__hero-paragraph {
    margin-top: 1.1rem;
    color: hsla(0, 0%, 100%, 0.85);
    font-size: 1.17rem;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    text-align: center;
  }

  &__cta-wrapper {
    margin-top: 2.45rem;
    display: flex;
    justify-content: center;
  }
}
.navbar {
    display: flex;
    position: relative;

    &__logo-link {
      height: 2.5rem;

      @include breakpoint(big) {
        height: 3.1rem
      }
    }

    &__logo-image {
      height: 100%
    }
}
.menu {
    width: 100%;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    border-radius: 0.3rem;
    grid-template-columns: 1fr;
    position: absolute;
    top: 5rem;
    background-color:hsl(0, 0%, 100%);
    list-style: none;

    @include breakpoint(big) {
      padding: 0rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      position: static;
      background-color:transparent;
    }

    &--is-open{
      animation: ease-in fadeInRight 0.45s forwards
    }

    &--is-closed{
      animation: ease-out fadeOutRight 0.45s forwards
    }

  &--shadow {
    box-shadow: -1px 21px 26px 9px rgba(0,0,0,0.2);
    -webkit-box-shadow: -11px 18px 26px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: -11px 18px 26px 9px rgba(0,0,0,0.2);

    @include breakpoint(big) {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }

  &__dropdown {
    width:100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(big) {
      //width: 5.7rem;
      position: relative;
      justify-content: center;
    }
  }  

  &__dropdown--show > &__dropdown-heading > &__dropdown-icon{
    transform: rotate(180deg);
  }  
  &__dropdown--show > &__dropdown-list {
    padding: 1.5rem 0rem 1.4rem 0rem;
    max-height: 17rem;
    opacity: 1;
    transition: max-height 0.45s ease-in-out, 
                padding 0.45s ease-in-out,
                opacity 0.25s ease-in-out 0.2s;
  } 
  &__dropdown-heading {
    padding-right: 1.2rem;
    margin: 0.5rem auto 1.1rem auto;
    position: relative;
    color: hsl(208, 49%, 24%);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    cursor: pointer;

    @include breakpoint(big) {
      width: fit-content;
      margin: 0rem;
      color: hsl(0, 0%, 100%);
      font-size: 1rem;
      font-weight: 400;
      font-family: 'Ubuntu', sans-serif;

      &:hover {
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
  &__dropdown-icon {
    width: 0.7rem;
    height: 0.5rem;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/icon-arrow-dark.svg);
    transition: all 0.25s ease-in-out;

    @include breakpoint(big) {
      top: 0.4rem;
      background-image: url(../images/icon-arrow-light.svg);
    }
  }
  &__dropdown-list {
    width:100%;
    max-height: 0rem;
    padding: 0rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(240, 2%, 79%, 0.25);
    list-style: none;
    opacity: 0;
    overflow: hidden;
	  -webkit-transition: all 0.45s ease-in-out;
	  -o-transition: all 0.45s ease-in-out;
	  -ms-transition: all 0.45s ease-in-out;
	  transition: max-height 0.45s ease-in-out 0.25s, 
                padding 0.45s ease-in-out 0.25s,
                opacity 0.25s ease-in-out;

    @include breakpoint(big) {
      width: 13rem;
      align-items: flex-start;
      position: absolute;
      top: 4.3rem;
      left: -1.5rem;
      background-color: hsl(0, 0%, 100%);
    }
  }  

  &__dropdown-item--margin-bottom {
     margin-bottom: 1.3rem;
  }

  &__dropdown-link {
    color: hsla(208, 49%, 24%, 0.75);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;

    &:hover {
      color: hsl(208, 49%, 24%);
    }
  }
  // Styling of the navi containing call to action elements
  &__cta-wrapper {
    padding-top: 1.7rem;
    margin-top: 1.5rem;
    border-top: 0.1rem solid hsla(240, 2%, 79%, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(big) {
      padding-top: 0rem;
      margin-top: 0rem;
      margin-left: auto;
      border-top: none;
      flex-direction: row;
    }
  }
}

// Styling for links that have a call to action functionality
.call-to-action {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  // A class that specifies the size of the call to action
  &--medium-size {
    width: 8.7rem;
  }

  // A class that adds padding to the top and bottom of the call to action
  &--padding {
    padding: 0.9rem 0;
  }

  // A class that adds margin to the top of the call to action
  &--margin-top {
    margin-top: 1.3rem;

    // The margin top is removed on bigger screens
    @include breakpoint(big) {
      margin-top: 0rem;
    }
  }
  &--margin-left {
      margin-left: 1.3rem;
  }

  &--margin-right {
  //
    @include breakpoint(big) {
      margin-right: 3rem;
    }
  }
  
  // A class that rounds the corners of the call to action
  &--rounded {
    border-radius: 2rem
  }

  // A class that specifies the font styling of the call to action
  &--font-ubuntu {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
  }

  // A class that specifies the font styling of the call to action
  &--font-overpass {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;

    @include breakpoint(big) {
      font-size: 1rem;
    }
  }

  // // Styling applied to the call to action with the changing theme 
  &--changing-theme {
    border: 0.1rem solid linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: hsl(0, 0%, 100%);
    background: linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));

    // The theme changes to white on bigger screens
    @include breakpoint(big) {
      border: 0.1rem solid hsl(0, 0%, 100%);
      color: hsl(356, 100%, 66%);
      background:none;
      background-color: hsl(0, 0%, 100%);

      &:hover {
        border: 0.1rem solid hsl(355, 100%, 74%);
        color: hsl(0, 0%, 100%);
        background-color: hsl(355, 100%, 74%);
      }
    }
  }

  // Styling applied to the call to action with the white theme
  &--white-theme {
    border: 0.1rem solid hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    
    &:hover {
      border: 0.1rem solid hsl(355, 100%, 74%);
      color: hsl(0, 0%, 100%);
      background-color: hsl(355, 100%, 74%);
    }
  }

  // Styling applied to the call to action with the transparent theme
  &--transparent-theme {
    border: 0.1rem solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    background-color: transparent;

    &:hover {
      color: hsl(356, 100%, 66%);
      background-color: hsl(0, 0%, 100%);
    }
  }

  // A class that stiles the look of the link like call to action
  &--link-theme {
    color: hsl(208, 49%, 24%);
    @include breakpoint(big) {
      color: hsl(0, 0%, 100%);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Styling for the button that triggers the navigation menu on mobile devices
.menu-trigger {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  margin-right: -0.55rem;
  margin-left: auto;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;

  // On desktop screens the button will be hidden
  &--hidden {
    display: none;
  }

  &--active .hamburger__line-top {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  &--active .hamburger__line-middle {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  &--active .hamburger__line-bottom {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}

.section {
    padding: 8.8rem 11rem 8.9rem 11rem;
    display: flex;
    position: relative;
    overflow: hidden;

    &--reverse {
        flex-direction: row-reverse;
    }

    &--padding-left {
        padding-left: 0rem;        
    }

    &--padding-right {
        padding-right: 0rem;
    }

    &__text-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--bg-color {
        background: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
        border-top-right-radius: 5.5rem;
        border-bottom-left-radius: 5.5rem;
        z-index: -2;
    }

    &--overflow-y {
        overflow: unset;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: left -13.5rem bottom -7rem;
        border-top-right-radius: 5.5rem;
        border-bottom-left-radius: 5.5rem;
        z-index: -1;
    }

    &__editor-illustration {
        width: 50%;
        height: 55.1rem;
        background: url(../images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
        background-position: right -17.5rem center;
    }

    &__mobile-illustration {
        width: 50%;
        height: 36.2rem;
        margin-top: -4.3rem;
        position: absolute;
        top: 0;
        left: 7.7rem;
        background: url(../images/illustration-phones.svg);
        background-repeat: no-repeat;
        background-size: 34.5rem 36.2rem;
    }

    &__laptop-illustration {
        width: 50%;
        height: 55.1rem;
        background: url(../images/illustration-laptop-desktop.svg);
        background-repeat: no-repeat;
        background-position: left -17.5rem center;
    }

    &__text-content--align-left:last-child {
        margin-left: auto;
    }

    &__title {
        width: 100%;
        position: absolute;
        top: 21%;
        left: 0;
        color: hsla(208, 49%, 24%, 0.85);
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }

    &__subtitle {
        color: hsla(208, 49%, 24%, 0.85);
        font-size: 1.7rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
    }

    &__subtitle--txt-color {
        color: hsla(0, 0%, 100%, 0.8);
    }

    &__subtitle--big-text {
        font-size: 2rem;
    }

    &__description {
        margin-top: 1.7rem;
        color: hsla(207, 13%, 34%, 0.85);
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        line-height: 1.75rem;
        z-index: 1;
    }

    &__description--txt-color {
        color: hsla(0, 0%, 100%, 0.7);
    }

    &__description--mb {
        margin-bottom: 3rem;
    }
}

// Footer styling

.footer {
    padding: 3rem 10rem 1rem 10rem;
    background: hsl(240, 10%, 16%);
    border-top-right-radius: 5.5rem;
    // Footer navigation bar styling
    &-nav {
        padding-bottom: 3rem;
        display: grid;
        grid-template: 'col-1 col-2 col-2 col-3 col-3 col-4 col-4';
    }

    &-nav__col--col-1 {
        grid-area: col-1;
    }

    &-nav__col--col-2 {
        grid-area: col-2;
    }

    &-nav__col--col-3 {
        grid-area: col-3;
    }

    &-nav__col--col-4 {
        grid-area: col-4;
    }

    &-logo__image {
        width: 6.3rem;
    }

    &-nav__col-title {
        margin-top: 0.5rem;
        color: hsla(0, 0%, 100%,0.85);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
    }

    &-nav__col-list {
        margin-top: 1.9rem;
        list-style: none;  
    }

    &-nav__col-list-item {
        margin-bottom: 0.7rem;
    }

    &-nav__col-list-link {
        color: hsla(240, 2%, 79%, 0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

    &-nav__col-list-link:hover {
        text-decoration: underline;
    }
    // Footer attribution styling
    &__attribution {
        display: flex;
        justify-content: center;
    }

    &__attribution-text {
        color: hsla(0, 0%, 100%,0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }

    &__attribution-text--ml {
        margin-left: 0.3rem;
    }

    &__attribution-link {
        color: hsla(240, 2%, 79%, 0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

    &__attribution-link:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 90vh;
        padding: 4.1rem 7rem 1rem 7rem;
        &-nav {
            position: relative;
        }
    
        &-menu {
            width: 100%;
            padding: 2.5rem 2rem;
            margin-left: 0rem;
            flex-direction: column;
            position: absolute;
            top: 4.5rem;
            background: hsl(0, 0%, 100%);
            transform: scale(1, 0);
            transform-origin: top;
            transition: transform ease-in-out 0.25s;
        }

        &-menu--active {
            transform: scale(1, 1);
        }
    
        &__dropdown {
            width: 100%;
            margin-bottom: 2.5rem;
            align-items: center;
        }

        &__dropdown-item--hidden {
            width: 100%;
        }
    
        &__dropdown--mr {
            margin-right: 0rem;
        }
        &__dropdown-title {
            width: 5.5rem;
            color: hsl(208, 49%, 24%);
            font-size: 1rem;
            font-weight: 500;
            font-family: 'Ubuntu', sans-serif;
            z-index: 5;
        }
    
        &__dropdown-arrow {
            width: 0.6rem;
            height: 0.6rem;
            margin-left: 0.5rem;
            display: inline-block;
            background: url(../images/icon-arrow-dark.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: transform 0.25s ease-in-out;
        }

        &__dropdown-list {
            width: 100%;
            margin-top: 1.7rem;
            position: static;
            background: hsla(0, 0%, 91%, 0.7);
        }

        &__dropdown-list-item {
            width: 100%;
            text-align: center;
        }

        &__dropdown-list-item--mb {
            margin-bottom: 1.2rem;
        }

        &__call-to-action {
            width: 100%;
            padding-top: 2.5rem;
            flex-direction: column;
            border-top: 0.1rem solid hsla(0, 0%, 91%, 0.7);
        }

        &__call-to-action:last-of-type {
            margin-left: unset;
        }
    }

    .hamburger-menu {
        display: inline-block;
    }

    .btn {
        &--red {
            color: hsl(0, 0%, 100%);
            background: linear-gradient(90deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
            border: 0.1rem solid linear-gradient(90deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
            transition: all ease-in-out 0.25s;
        }

        &--red:hover {
            color: hsl(0, 0%, 100%);
            background: hsl(355, 100%, 74%);
            border: 0.1rem solid hsl(355, 100%, 74%);
        }

        &--mt {
            margin-top: 1.5rem;
        }
    }

    .link {
        color: hsl(208, 49%, 24%);
    
        &--mr {
            margin-right: 0rem;
        }
    }

    .section {
        width: 100vw;
        padding: 5.5rem 7rem 5.5rem 7rem;
        flex-direction: column;
        align-items: center;

        &--extra-padding-bottom {
            padding-bottom: 23rem;
        }

        &--bg-color {
            padding-top: 18rem;
            padding-bottom: 7rem;
            background: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
        }

        &__editor-illustration {
            width: 100%;
            height: calc(100vw - 13rem);
            margin-right: 0rem;
            margin-bottom: 2rem;
            position: static;
            background: url(../images/illustration-editor-mobile.svg);
            background-repeat: no-repeat;
            background-size: 123%;
            background-position: center;
            order: 2;
        }

        &__mobile-illustration {
            width: 100%;
            height: 35rem;
            margin-top: -17rem;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/illustration-phones.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 34.5rem 36.2rem;
        }

        &__laptop-illustration {
            width: 100%;
            height: calc(100vw - 14rem);
            margin-bottom: 2.7rem;
            background: url(../images/illustration-laptop-mobile.svg);
            background-repeat: no-repeat;
            background-size: 150%;
            background-position: center;
        }

        &__title {
            margin-bottom: 2rem;
            position: static;
            order: 1;
        }

        &__text-content {
            width: 100%;
        }

        &__text-content--order {
            order: 3;
        }

        &__subtitle {
            margin-right: 0rem;
            text-align: center;
        }

        &__description {
            margin-right: 0rem;
            text-align: center;
        }
    }
    // Footer styling
    .footer {
        padding: 4.1rem 7rem 1rem 7rem;

        &-nav {
            grid-template: 'col-1 col-1 col-1'
                           'col-2 col-3 col-4'; 
        }

        &-nav__col-title {
            margin-top: 0rem;
        }

        &-nav__col--mb-2 {
            margin-bottom: 5rem;
        }

    }
}

@media (max-width: 630px) {
    .header {
        padding: 4.1rem 1.7rem 1rem 1.7rem;
    }

    .section {
        width: 100vw;
        padding: 5.5rem 1.7rem 5.5rem 1.7rem;
        flex-direction: column;
        align-items: center;

        &--extra-padding-bottom {
            padding-bottom: 16.5rem;
        }

        &--bg-color {
            padding-top: 13.9rem;
            padding-bottom: 7rem;
            background: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
        }

        &__overlay {
            background: url(../images/bg-pattern-circles.svg);
            background-repeat: no-repeat;
            background-size: 157%;
            background-position: left -6.7rem bottom 14.9rem;
        }

        &__editor-illustration {
            width: 100%;
            height: calc(100vw - 3rem);
            margin-right: 0rem;
            margin-bottom: 2rem;
            position: static;
            background: url(../images/illustration-editor-mobile.svg);
            background-repeat: no-repeat;
            background-size: 123%;
            background-position: center;
        }

        &__mobile-illustration {
            width: 100%;
            height: calc(100vw - 1.9rem);
            margin-top: -11rem;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/illustration-phones.svg);
            background-repeat: no-repeat;
            background-position: center bottom -2.4rem;
            background-size: 100%;
        }

        &__laptop-illustration {
            width: 100%;
            height: calc(100vw - 3rem);
            margin-bottom: 2.7rem;
            background: url(../images/illustration-laptop-mobile.svg);
            background-repeat: no-repeat;
            background-size: 150%;
            background-position: center;
        }

        &__title {
            font-size: 1.6rem;
        }

        &__subtitle {
            padding: 0 0.9rem;
            font-size: 1.6rem;
        }

        &__subtitle--big-text {
            font-size: 2rem;
        }

        &__description {
            font-size: 1.09rem;
        }
    }
    // Footer styling
    .footer {
        padding: 4.1rem 1.7rem 1rem 1.7rem;

        &-nav {
            grid-template: 'col-1'
                           'col-2' 
                           'col-3' 
                           'col-4'; 
        }

        &-nav__col--mb-1 {
            margin-bottom: 1.9rem;
        }

        &-logo__image {
            margin: auto;
            display: block;
        }

        &-nav__col-title {
            margin-top: 0rem;
            text-align: center;
        }

        &-nav__col-list-item {
            text-align: center;
        }

        &__attribution {
            flex-direction: column;
        }

        &__attribution-text--ml {
            margin-left: 0rem;
        }

    }
}

.hamburger {
    &__line {
      fill: none;
      stroke: white;
      stroke-width: 7;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    &__line-top {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
  
    &__line-middle {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
  
    &__line-bottom {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
  }

/*---------------------------
  Animations                 
---------------------------*/

// Makes the mobile navigation menu fadeIn from the right when opened

@keyframes fadeInRight {
    from {
      display: grid;
      opacity: 0;
      transform: translateX(100vw)
    }
    to {
      opacity: 1;
      transform: translateX(0)
    }
  }
  
  // Makes the mobile navigation menu fadeOut from the right when closed
  
  @keyframes fadeOutRight {
    from {
      opacity: 1;
      transform: translateX(0vw)
    }
    to {
      display: none;
      opacity: 0;
      transform: translateX(100vw)
    }
  }