@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 3rem 11rem 9rem 11rem;
    position: relative;
    background: url(../images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-position: left -89vw bottom 49%;
    border-bottom-left-radius: 5.5rem;

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(90deg,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
        border-bottom-left-radius: 5.5rem;
        z-index: -1;
    }

    &-nav {
        display: flex;
        align-items: center;
    }

    &-logo__image {
        width: 6.3rem;
    }

    &-menu {
        width: 100%;
        margin-left: 6rem;
        display: flex;
        align-items: center;
        list-style: none;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform ease-in-out 0.25s;
    }

    &-menu--active {
        transform: scale(1, 1);
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
        position: relative;
        list-style: none;
        cursor: pointer;
    }

    &__dropdown--mr {
        margin-right: 2.7rem;
    }

    &__dropdown:hover > &__dropdown-item > &__dropdown-title {
        font-weight: 700;
        text-decoration: underline;
    }

    &__dropdown:hover > &__dropdown-item > &__dropdown-title &__dropdown-arrow  {
        transform: rotate(180deg);
    }

    &__dropdown:hover > &__dropdown-item--hidden {
        height: 14.64rem;
    }

    &__dropdown:hover > &__dropdown-item > &__dropdown-list {
        transform: scale(1,1);
    }

    &__dropdown:hover > &__dropdown-item > &__dropdown-list > &__dropdown-list-item > &__dropdown-list-link {
        opacity: 1;
        transition: opacity 0.25s ease-in-out 0.25s;
    }

    &__dropdown-title {
        width: 5.5rem;
        color: hsla(0, 0%, 100%, 0.7);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
    }

    &__dropdown-arrow {
        width: 0.6rem;
        height: 0.6rem;
        margin-left: 0.5rem;
        display: inline-block;
        background: url(../images/icon-arrow-light.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform 0.25s ease-in-out;
    }

    &__dropdown-arrow--active {
        transform: rotate(180deg); 
    }

    &__dropdown-item--hidden {
        width: 5.5rem;
        height: 0rem;
        position: absolute;
        top: 0rem;
    }

    &__dropdown-item--active {
        height: fit-content;
        position: static;
    }

    &__dropdown-list {
        width: 10.5rem;
        height: fit-content;
        padding: 1.7rem 1.5rem;
        margin-top: 2.5rem;
        position: absolute;
        top: 0rem;
        left: -2.5rem;
        background: hsl(0, 0%, 100%);
        border-radius: 0.3rem;
        list-style: none;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 0.25s ease-in-out;
    }

    &__dropdown-list--active {
        transform: scale(1,1);
    }

    &__dropdown-list-item--mb {
       margin-bottom: 0.7rem;
    }

    &__dropdown-list-link {
        color: hsl(207, 13%, 34%);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
    }

    &__dropdown-list-link--active {
        opacity: 1;
        transition: opacity 0.25s ease-in-out 0.25s;
    }

    &__dropdown-list-link:hover {
        color: hsl(208, 49%, 24%);
        font-weight: 700;
    }

    &__showcase {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__showcase-title {
        margin-top: 7rem;
        color: hsla(0, 0%, 100%, 0.8);
        font-size: 3rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }

    &__showcase-description {
        margin-top: 1rem;
        color: hsla(0, 0%, 100%, 0.7);
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }

    &__call-to-action {
        display: flex;
        align-items: center;
    }

    &__call-to-action:last-of-type {
        margin-left: auto;
    }

    &__showcase-call-to-action {
        margin-top: 3rem;
    }
}

.hamburger-menu {
    width: 2.1rem;
    height: 2.1rem;
    margin-left: auto;
    display: none;
    border: 0;

    &--open {
        background: url(../images/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &--close {
        background: url(../images/icon-close.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.link {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    &--mr {
        margin-right: 2rem;
    }

    &:hover {
        font-weight: 500;
        text-decoration: underline;
    }
}

.btn {
    width: 8.3rem;
    padding: 0.8rem 0.9rem 0.8rem 0.9rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    text-align: center;
    border-radius: 2rem;

    &--white {
        color: hsl(356, 100%, 66%);
        background: hsl(0, 0%, 100%);
        border: 0.1rem solid hsl(0, 0%, 100%);
        transition: all 0.25s ease-in-out;
    }

    &--white:hover {
        color: hsl(0, 0%, 100%);
        background: hsl(355, 100%, 74%);
        border: 0.1rem solid hsl(355, 100%, 74%);
    }

    &--transparent {
        color: hsl(0, 0%, 100%);
        background: transparent;
        border: 0.1rem solid hsl(0, 0%, 100%);
        transition: all 0.25s ease-in-out;
    }

    &--transparent:hover {
        color: hsl(356, 100%, 66%);
        background: hsl(0, 0%, 100%);
        border: 0.1rem solid hsl(0, 0%, 100%);
    }

    &--mr {
        margin-right: 1rem;
    }
}

.section {
    padding: 8.8rem 11rem 8.9rem 11rem;
    display: flex;
    position: relative;
    overflow: hidden;

    &--reverse {
        flex-direction: row-reverse;
    }

    &--padding-left {
        padding-left: 0rem;        
    }

    &--padding-right {
        padding-right: 0rem;
    }

    &__text-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--bg-color {
        background: linear-gradient(90deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
        border-top-right-radius: 5.5rem;
        border-bottom-left-radius: 5.5rem;
        z-index: -2;
    }

    &--overflow-y {
        overflow: unset;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: left -13.5rem bottom -7rem;
        border-top-right-radius: 5.5rem;
        border-bottom-left-radius: 5.5rem;
        z-index: -1;
    }

    &__editor-illustration {
        width: 50%;
        height: 55.1rem;
        background: url(../images/illustration-editor-desktop.svg);
        background-repeat: no-repeat;
        background-position: right -17.5rem center;
    }

    &__mobile-illustration {
        width: 50%;
        height: 36.2rem;
        margin-top: -4.3rem;
        position: absolute;
        top: 0;
        left: 7.7rem;
        background: url(../images/illustration-phones.svg);
        background-repeat: no-repeat;
        background-size: 34.5rem 36.2rem;
    }

    &__laptop-illustration {
        width: 50%;
        height: 55.1rem;
        background: url(../images/illustration-laptop-desktop.svg);
        background-repeat: no-repeat;
        background-position: left -17.5rem center;
    }

    &__text-content--align-left:last-child {
        margin-left: auto;
    }

    &__title {
        width: 100%;
        position: absolute;
        top: 21%;
        left: 0;
        color: hsla(208, 49%, 24%, 0.85);
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
        text-align: center;
    }

    &__subtitle {
        color: hsla(208, 49%, 24%, 0.85);
        font-size: 1.7rem;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
    }

    &__subtitle--txt-color {
        color: hsla(0, 0%, 100%, 0.8);
    }

    &__subtitle--big-text {
        font-size: 2rem;
    }

    &__description {
        margin-top: 1.7rem;
        color: hsla(207, 13%, 34%, 0.85);
        font-size: 1rem;
        font-weight: 300;
        font-family: 'Overpass', sans-serif;
        line-height: 1.75rem;
        z-index: 1;
    }

    &__description--txt-color {
        color: hsla(0, 0%, 100%, 0.7);
    }

    &__description--mb {
        margin-bottom: 3rem;
    }
}

// Footer styling

.footer {
    padding: 3rem 10rem 1rem 10rem;
    background: hsl(240, 10%, 16%);
    border-top-right-radius: 5.5rem;
    // Footer navigation bar styling
    &-nav {
        padding-bottom: 3rem;
        display: grid;
        grid-template: 'col-1 col-2 col-2 col-3 col-3 col-4 col-4';
    }

    &-nav__col--col-1 {
        grid-area: col-1;
    }

    &-nav__col--col-2 {
        grid-area: col-2;
    }

    &-nav__col--col-3 {
        grid-area: col-3;
    }

    &-nav__col--col-4 {
        grid-area: col-4;
    }

    &-logo__image {
        width: 6.3rem;
    }

    &-nav__col-title {
        margin-top: 0.5rem;
        color: hsla(0, 0%, 100%,0.85);
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Ubuntu', sans-serif;
    }

    &-nav__col-list {
        margin-top: 1.9rem;
        list-style: none;  
    }

    &-nav__col-list-item {
        margin-bottom: 0.7rem;
    }

    &-nav__col-list-link {
        color: hsla(240, 2%, 79%, 0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

    &-nav__col-list-link:hover {
        text-decoration: underline;
    }
    // Footer attribution styling
    &__attribution {
        display: flex;
        justify-content: center;
    }

    &__attribution-text {
        color: hsla(0, 0%, 100%,0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }

    &__attribution-text--ml {
        margin-left: 0.3rem;
    }

    &__attribution-link {
        color: hsla(240, 2%, 79%, 0.85);
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

    &__attribution-link:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1000px) {
    .header {
        height: 90vh;
        padding: 4.1rem 7rem 1rem 7rem;
        &-nav {
            position: relative;
        }
    
        &-menu {
            width: 100%;
            padding: 2.5rem 2rem;
            margin-left: 0rem;
            flex-direction: column;
            position: absolute;
            top: 4.5rem;
            background: hsl(0, 0%, 100%);
        }
    
        &__dropdown {
            width: 100%;
            margin-bottom: 2.5rem;
            align-items: center;
        }

        &__dropdown-item--hidden {
            width: 100%;
        }
    
        &__dropdown--mr {
            margin-right: 0rem;
        }
        &__dropdown-title {
            width: 5.5rem;
            color: hsl(208, 49%, 24%);
            font-size: 1rem;
            font-weight: 500;
            font-family: 'Ubuntu', sans-serif;
            z-index: 5;
        }
    
        &__dropdown-arrow {
            width: 0.6rem;
            height: 0.6rem;
            margin-left: 0.5rem;
            display: inline-block;
            background: url(../images/icon-arrow-dark.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: transform 0.25s ease-in-out;
        }

        &__dropdown-list {
            width: 100%;
            margin-top: 1.7rem;
            position: static;
            background: hsla(0, 0%, 91%, 0.7);
        }

        &__dropdown-list-item {
            width: 100%;
            text-align: center;
        }

        &__dropdown-list-item--mb {
            margin-bottom: 1.2rem;
        }

        &__call-to-action {
            width: 100%;
            padding-top: 2.5rem;
            flex-direction: column;
            border-top: 0.1rem solid hsla(0, 0%, 91%, 0.7);
        }

        &__call-to-action:last-of-type {
            margin-left: unset;
        }
    }

    .hamburger-menu {
        display: inline-block;
    }

    .btn {
        &--red {
            color: hsl(0, 0%, 100%);
            background: linear-gradient(90deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%));
            border: 0.1rem solid linear-gradient(hsl(13, 100%, 72%),hsl(353, 100%, 62%));
        }
        &--mt {
            margin-top: 1.5rem;
        }
    }

    .link {
        color: hsl(208, 49%, 24%);
    
        &--mr {
            margin-right: 0rem;
        }
    }

    .section {
        width: 100vw;
        padding: 5.5rem 7rem 5.5rem 7rem;
        flex-direction: column;
        align-items: center;

        &--extra-padding-bottom {
            padding-bottom: 23rem;
        }

        &--bg-color {
            padding-top: 18rem;
            padding-bottom: 7rem;
            background: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
        }

        &__editor-illustration {
            width: 100%;
            height: calc(100vw - 13rem);
            margin-right: 0rem;
            margin-bottom: 2rem;
            position: static;
            background: url(../images/illustration-editor-mobile.svg);
            background-repeat: no-repeat;
            background-size: 123%;
            background-position: center;
            order: 2;
        }

        &__mobile-illustration {
            width: 100%;
            height: 35rem;
            margin-top: -17rem;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/illustration-phones.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 34.5rem 36.2rem;
        }

        &__laptop-illustration {
            width: 100%;
            height: calc(100vw - 14rem);
            margin-bottom: 2.7rem;
            background: url(../images/illustration-laptop-mobile.svg);
            background-repeat: no-repeat;
            background-size: 150%;
            background-position: center;
        }

        &__title {
            margin-bottom: 2rem;
            position: static;
            order: 1;
        }

        &__text-content {
            width: 100%;
        }

        &__text-content--order {
            order: 3;
        }

        &__subtitle {
            margin-right: 0rem;
            text-align: center;
        }

        &__description {
            margin-right: 0rem;
            text-align: center;
        }
    }
    // Footer styling
    .footer {
        padding: 4.1rem 7rem 1rem 7rem;

        &-nav {
            grid-template: 'col-1 col-1 col-1'
                           'col-2 col-3 col-4'; 
        }

        &-nav__col-title {
            margin-top: 0rem;
        }

        &-nav__col--mb-2 {
            margin-bottom: 5rem;
        }

    }
}

@media (max-width: 630px) {
    .header {
        padding: 4.1rem 1.7rem 1rem 1.7rem;
    }

    .section {
        width: 100vw;
        padding: 5.5rem 1.7rem 5.5rem 1.7rem;
        flex-direction: column;
        align-items: center;

        &--extra-padding-bottom {
            padding-bottom: 16.5rem;
        }

        &--bg-color {
            padding-top: 13.9rem;
            padding-bottom: 7rem;
            background: linear-gradient(180deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
        }

        &__overlay {
            background: url(../images/bg-pattern-circles.svg);
            background-repeat: no-repeat;
            background-size: 157%;
            background-position: left -6.7rem bottom 14.9rem;
        }

        &__editor-illustration {
            width: 100%;
            height: calc(100vw - 3rem);
            margin-right: 0rem;
            margin-bottom: 2rem;
            position: static;
            background: url(../images/illustration-editor-mobile.svg);
            background-repeat: no-repeat;
            background-size: 123%;
            background-position: center;
        }

        &__mobile-illustration {
            width: 100%;
            height: calc(100vw - 1.9rem);
            margin-top: -11rem;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../images/illustration-phones.svg);
            background-repeat: no-repeat;
            background-position: center bottom -2.4rem;
            background-size: 100%;
        }

        &__laptop-illustration {
            width: 100%;
            height: calc(100vw - 3rem);
            margin-bottom: 2.7rem;
            background: url(../images/illustration-laptop-mobile.svg);
            background-repeat: no-repeat;
            background-size: 150%;
            background-position: center;
        }

        &__title {
            font-size: 1.6rem;
        }

        &__subtitle {
            padding: 0 0.9rem;
            font-size: 1.6rem;
        }

        &__subtitle--big-text {
            font-size: 2rem;
        }

        &__description {
            font-size: 1.09rem;
        }
    }
    // Footer styling
    .footer {
        padding: 4.1rem 1.7rem 1rem 1.7rem;

        &-nav {
            grid-template: 'col-1'
                           'col-2' 
                           'col-3' 
                           'col-4'; 
        }

        &-nav__col--mb-1 {
            margin-bottom: 1.9rem;
        }

        &-logo__image {
            margin: auto;
            display: block;
        }

        &-nav__col-title {
            margin-top: 0rem;
            text-align: center;
        }

        &-nav__col-list-item {
            text-align: center;
        }

        &__attribution {
            flex-direction: column;
        }

        &__attribution-text--ml {
            margin-left: 0rem;
        }

    }
}
